<!DOCTYPE html>
<html ng-app="APLL">
  <title>APLL</title>
  <head>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
  </head>
  <body ng-controller="MainController">

    <div class="container">
      <center><h3>PROGRAM APLIKASI PENDAPATAN</h3></center>
      <center><h3> LAIN-LAIN </h1></center>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col">
            <h6>TOTAL PENDAPATAN LAIN-LAIN :</h6><h4><font color="red"><b>{{Allhasil()}}</b></font></h4>

            <input href="report.html" type="button" value="INPUT BARU" class="default">
          </div>
          <div class="col">
            <img  src="../assets/indomaret.png" class="rounded float-right" border="0" style="margin:0">
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <label for="nopembuatan">No Pembuatan :</label>
          <input type="text" id="nopembuatan" class="form-control" value="K-222334" readonly style="text-align:center">
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
<label for="tglpembuatan">Tanggal Pembuatan:</label>
<input type="text" id="tglpembuatan" class="form-control" value="{{tanggal | date:'yyyy-MM-dd'}}"readonly style="text-align:center">
        </div>
      </div>
      <hr>
      <form>
      <div class="container">
      <div class="form-group row">
      <div class="col">
        <label for="ex1">Deskripsi Barang </label>
        <select class="form-control" ng-model="desValue" ng-options="x for x in desbar " ></select>
      </div>
      <div class="col-2">
        <label for="ex2">Jumlah Ikat </label>       
        <select class="form-control" ng-model="ikatValue" ng-options="x for x in [1,10,1000] " ></select>
      </div>
      <div class="col-2">
        <label for="ex3">  Banyak Barang </label>
        <select class="form-control" ng-model="banyaknyaValue" ng-options="x for x in banyaknya " ></select>
      </div>
       <div class="col">
        <label for="ex3">Harga /ikat </label>
        <select class="form-control" ng-model="harsatuValue" ng-options="x for x in hargasatuan " ></select>
      </div>
      </div>
   
      <a type=button class="btn btn-basic" ng-click="tambahDatas()"> Tambah </a>
      </div>
    <hr>
    <table class="table table-bordered">
      <thead>
        <tr align="center">
          <th>Deskripsi</th>
          <th>Ikat</th>
          <th>Berat Barang</th>
          <th>Harga Satuan Barang</th>   
          <th>Total Harga Barang</th>
          <th>Opsi</th>
        </tr>
      </thead>
      <tbody>
        <tr align="center" ng-repeat="data in datas">
          <td>{{data.isi.Destext}}</td>
          <td>{{data.isi.Ikattext}}</td>
          <td>{{data.isi.Banyaknyatext}}</td> 
          <td>Rp.{{data.isi.Hargasatuantext}} perikat </td>
          <td>Rp.{{data.isi.TotalHargatext}}</td>
          <td><button class="btn btn-danger" ng-click="hapus(data)">Hapus</button></td>
        </tr>
      </tbody>
    </table>
    <div class="container">
      <div class="row" align="center">
        <div class="col-sm">
          <a type=button class="btn btn-basic" href="report.html"> SIMPAN </a>
        </div>
        <div class="col-sm">
          <a type=button class="btn btn-basic" href="report.html"> CETAK </a>
        </div>
        <div class="col-sm">
          <a type=button class="btn btn-basic" href="report.html"> REPORT </a>
        </div>
      </div>
    </div>
    <script src="../js/angular.min.js"></script>
    <script src="../js/app.js"></script>

    <script>
// You can also require other files to run in this process
require('./renderer.js')
    </script>
  </body>
</html>
