<!DOCTYPE html>
<html ng-app="APLL">
  <title>APLL</title>
  <head>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
  </head>
  <body ng-controller="MainController">

    <div class="container">
      <center><h3>PROGRAM APLIKASI PENDAPATAN</h3></center>
      <center><h3> LAIN-LAIN </h1></center>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col">
            <h6>TOTAL PENDAPATAN LAIN-LAIN :</h6><h4><font color="red"><b>Rp 1.537.500</b></font></h4>

            <input href="report.html" type="button" value="INPUT BARU" class="default">
          </div>
          <div class="col">
            <img  src="../assets/indomaret.png" class="rounded float-right" border="0" style="margin:0">
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <label for="nopembuatan">No Pembuatan :</label>
          <input type="text" id="nopembuatan" class="form-control" value="K-222334" readonly style="text-align:center">
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
<label for="tglpembuatan">Tanggal Pembuatan:</label>
<input type="text" id="tglpembuatan" class="form-control" value="{{tanggal | date:'yyyy-MM-dd'}}"readonly style="text-align:center">
        </div>
      </div>
      <hr>
      <form>
      <div class="container">
      <div class="form-group row">
      <div class="col">
        <label for="ex1">Deskripsi Barang </label>
        <select class="form-control" ng-model="formTambahdata" ng-options="x for x in desbar " ></select>
      </div>
      <div class="col-2">
        <label for="ex2">Jumlah Ikat </label>       
        <select class="form-control" ng-model="ikatValue" ng-options="x for x in [1,10,1000] " ></select>
      </div>
      <div class="col-2">
        <label for="ex3">  Banyak Barang </label>
        <select class="form-control" ng-model="beratValue" ng-options="x for x in banyaknya " ></select>
      </div>
       <div class="col">
        <label for="ex3">Harga /ikat </label>
        <select class="form-control" ng-model="beratValue" ng-options="x for x in banyaknya " ></select>
      </div>
      </div>
      <button type="button" ng-click="tambahDatas()">Tambah</button>
   
      </div>
    <hr>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Deskripsi</th>
          <th>Ikatan</th>
          <th>Berat Barang</th>
          <th>Harga Satuan Barang</th>   
          <th>Total Harga Barang</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in datas">
          <td>{{data.text}}</td>
          <td>3 Ikatan</td>
          <td>4 KG</td> 
          <td>@ikat 2500</td>
          <td>Rp 10.000</td>
        </tr>
      </tbody>
    </table>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <button type="button">SIMPAN</button>
        </div>
        <div class="col-sm">

          <button href='report.html'>REPORT</button>
        </div>
        <div class="col-sm">

          <button href='report.html' type="button"> CETAK </button>
        </div>
      </div>
    </div>
    <script src="../js/angular.min.js"></script>
    <script src="../js/app.js"></script>

    <script>
// You can also require other files to run in this process
require('./renderer.js')
    </script>
  </body>
</html>
