<!DOCTYPE html>
<html ng-app="APLL">
  <title>APLL</title>
  <head>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
  </head>
  <body ng-controller="MainController">

    <div class="container">
      <center><h3>REPORT  PENDAPATAN</h3></center>
      <center><h3> LAIN-LAIN </h1></center>
      <hr>
      <div class="col">
        <h4><b>No. Nota</b> : N/2018/ID</h4>
        <h4><b>Tanggal</b>  : {{}}"</h4>
      </div>
      <hr>
          <table class="table table-bordered">
      <thead>
        <tr align="center">
          <th>Deskripsi</th>
          <th>Ikat</th>
          <th>Berat Barang</th>
          <th>Harga Satuan Barang</th>   
          <th>Total Harga Barang</th>
        </tr>
      </thead>
      <tbody>
        <tr align="center" ng-repeat="data in datas">
          <td>{{data.isi.Destext}}</td>
          <td>{{data.isi.Ikattext}}</td>
          <td>{{data.isi.Banyaknyatext}}</td> 
          <td>Rp.{{data.isi.Hargasatuantext}} perikat </td>
          <td ng-model="total">Rp.{{data.isi.TotalHargatext}}</td>
        </tr>
      </tbody>
    </table>
    
    {{tampil}}

        <div class="row">
        
        <div class="col" align="center">
        </div>
          <div class="col" align="center">
          <h6>Penanggung jawab</h6>

             <h7>(Kasir)</h7>
        </div>
        </div>
      </div>
    </div>
    <script src="../js/angular.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/ngStorage.min.js"></script>

    <script>
// You can also require other files to run in this process
require('./renderer.js')
    </script>
  </body>
</html>
